@import (reference) './less/mixins.less';
@import (reference) './less/vars.less';

@includeIosTheme: $includeIosTheme;
@includeMdTheme: $includeMdTheme;
@includePcTheme: $includePcTheme;

@includeDarkTheme: $includeDarkTheme;
@includeLightTheme: $includeLightTheme;

@themeColor: $themeColor;

@colors: $colors;

@rtl: $rtl;

// Core
@import './dist/app/app.less';
@import './dist/statusbar/statusbar.less';
@import './dist/view/view.less';
@import './dist/page/page.less';
@import './dist/link/link.less';
// @import './dist/navbar/navbar.less';
@import './dist/toolbar/toolbar.less';
// @import './dist/subnavbar/subnavbar.less';
@import './dist/block/block.less';
@import './dist/list/list.less';
@import './dist/badge/badge.less';
@import './dist/button/button.less';
//@import './dist/touch-ripple/touch-ripple.less';
@import './dist/icon/icon.less';
@import './dist/modal/modal.less';

//IMPORT_COMPONENTS
